modules = ["python-3.12", "cpp-clang14", "web", "c-clang14"]
run = "flask run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "flask run"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 45690599
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd revolut && python wsgi.py"

[[ports]]
localPort = 5000
externalPort = 80
